<div id="wrapper">
  <div class="overlay"></div>
  {{partial 'navbar'}}
  <div id="page-content-wrapper">
    <button type="button" onclick="expandMenu()" class="hamburger is-closed animated fadeInLeft">
      <span class="hamb-top"></span>
      <span class="hamb-middle"></span>
      <span class="hamb-bottom"></span>
    </button>
    {{outlet}}
  </div>
  {{partial 'footer'}}
</div>
