<div class="container">
  <div class="row top-buffer">
    <div class="text-center">
      <h1 class="animated fadeInRight" id="maintitle">ParkingAdvisor</h1>
      <h5 id="secondarytitle"><em>A Citation Analytics Platform</em></h5>
    </div>
  </div>
  <div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6">
      <div class="text-center">
        <form class="form-inline">
          <div class="input-group input-group-lg">
            <span class="input-group-addon" id="sizing-addon1">@</span>
            <!-- <input type="text" class="form-control" placeholder="Enter Parking Space" aria-describedby="sizing-addon1"> -->
            {{input type="text" value=location class="form-control" placeholder="Enter Parking Space" aria-describedby="sizing-addon1"}}
          </div>
          <button type="button" {{action 'searchSpaces'}} class="btn btn-primary btn-lg btn-wide">Locate</button>
        </form>
      </div>
      <!-- <p class="text-center">Currently limited to Shepherdstown and Morgantown, WV!</p> -->
    </div>
    <div class="col-md-3"></div>
  </div>
</div>
