{{#if simpleview}}
  {{#each model.citations as |ticket|}}
    {{#location-simple meter=ticket._id ticketCount=ticket.count total=ticket.totalAmount onSwitch=(action "launchVisual") }}
    {{/location-simple}}
  {{/each}}
{{else}}
  {{#each model.citations as |ticket|}}

  {{#location-adv meter=ticket._id chartbuild=firstchart chartoptions=options totalamount=ticket.totalAmount avg=ticket.avgAmount monthlyCountChart=monthlyCountChart onSwitch=(action "launchSimple")}}
  {{/location-adv}}
  {{/each}}

{{/if}}
<p>{{fixedAvg}}</p>
