<div class="container">
  <div class="page-header">
    <h3>Visualize</h3>
  </div>
  <div class="row">
    <div class="col-md-4">{{ember-chart type='line' height=300 data=firstchart }}</div>
    <div class="col-md-4">{{ember-chart type='radar' height=300 data=firstchart }}</div>
    <div class="col-md-4">{{ember-chart type='bar' height=300 data=firstchart }}</div>

  </div>
</div>
